@using Stockboy.Classes;
@using System.Reflection
@using System.ComponentModel.DataAnnotations;

@using static Stockboy.Classes.Globals

@model Stockboy.Helpers.DataTableModel

@{

	String []? sort_data = Model.data.data_fields?.sort_fields?[0]?.Split (space);

	String? sort_field = sort_data?[0];
	Boolean descending = (sort_data?.Length == 2) && (sort_data [1] == "desc");

}


<style>

	.scroller { max-height: 25em; overflow: auto; }

</style>

<div id="@Model.id" class="data-table scroller" style="grid-template-columns: repeat(@(Model.fields.Count ()), min-content)" onmouseout="remove_highlight ('@Model.id')">
	<div class="header">
		@{
			foreach (String field in Model.fields) {
				<div field="@field">
					<div>@(field.ToHeader ())</div>
					@{
						if (sort_field == field) {
							<div class="column-centered">
								<div class="glyph-arrow sort-arrow" style="@(descending ? String.Empty : "transform: rotate(180deg)")"></div>
							</div>
						}
					}
				</div>
			}
		}
	</div>

	@{
		if (Model.data.list.Count () > 0) {
			foreach (var row in Model.data.list) {
				<div class="table-row" onmouseover="highlight_row (this)" onclick="toggle_row_selection (this); @(JavascriptHandler.Parse (Model.onclick, row))">
					@{
						if (Model.id_field is not null) {
							<input type="hidden" name="@Model.id_field" value="@(row.KeyField ().GetValue (row))" />
						}
					}

					@{
						foreach (String field in Model.fields) {
							<div style="cursor: pointer; @(row.GetValue (field).IsNumeric () ? "text-align: right": String.Empty)">@(row.Format (field))</div>
						}
					}
				</div>
			}

			if (Model.totals is not null) {
				<div class="table-row footer">
					@{
						foreach (String field in Model.fields) {
							if (field == Model.fields [0]) {
								<div style="font-weight: bold; grid-column: 1/@(Model.fields.Count () - Model.totals.Count () + 1)">Total</div>
							} else {
								if (!Model.totals.ContainsKey (field)) continue;
								<div style="text-align: right">@(Model.totals [field])</div>
							}
						}
					}
				</div>
			}

		} else {
			<div class="table-row centered" style="grid-column: span @(Model.fields.Count ())">No entries</div>
		}
	}
</div>
