@using Stockboy.Models
@using System.Diagnostics;

@using static Stockboy.Classes.Globals;

@model Stockboy.Models.DividendFormModel

@{
	String? purchase_date = Model.dividend?.issue_date.ToString ("s", System.Globalization.CultureInfo.InvariantCulture);
}

<form id="dividends_form">
	<div class="form-table">

		@{
			if (Model.dividend?.id is not null) {
				<input type="hidden" id="id" name="id" value="@Model.dividend?.id" />
			}
		}

		<label for="broker_id">Broker</label>
		<select id="broker_id" name="broker_id" required>
			<option disabled selected value="">Select One</option>
			@{
				if (Model?.brokers is not null) foreach (BrokersTable broker in Model.brokers) {
					String selected = (broker.id == Model?.dividend?.broker_id) ? "selected" : String.Empty;
					<option value="@broker.id" @selected>@broker.name</option>
				}
			}
		</select>

		<label for="ticker_id">Ticker</label>
		<select id="ticker_id" name="ticker_id" required>
			<option disabled selected value="">Select One</option>
			@{
				if (Model?.tickers is not null) foreach (TickersTable ticker in Model.tickers) {
					String selected = (ticker.id == Model?.dividend?.ticker_id) ? "selected" : String.Empty;
					<option value="@ticker.id" @selected>@ticker.name</option>
				}
			}
		</select>

		<label for="purchase_date">Issue Date</label>
		<input type="date" id="purchase_date" name="purchase_date" value="@purchase_date" />

		<label for="amount_per_share">Amount per share</label>
		<input type="currency" id="amount_per_share" name="amount_per_share" commas="true" decimal-places="10" required value="@Model?.dividend?.amount_per_share" />

		@{
			if (Model.dividend.id is null) {
				<label for="reinvested">Reinvested?</label>
				<div style="display: flex; justify-content: space-between">
					<input type="checkbox" id="reinvested" onclick="
						document.getElementById ('reinvestment_price').active = this.checked;
						document.getElementById ('settlement_date').active = this.checked;
					" />
					<div class="form-table">
						<label for="purchase_price">Purchase price</label>
						<input type="currency" id="reinvestment_price" name="purchase_price" commas="true" decimal-places="10" disabled />
					</div>
				</div>

				<label for="settlement_date">Settlement Date</label>
				<input type="datetime-local" id="settlement_date" name="settlement_date" disabled />
			}
		}
	</div>

</form>

<div class="button-bar">
	<button id="cancel_button" onclick="close_popup ('popup_window')">Cancel</button>
	<button id="submit_button" onclick="submit_form (document.getElementById ('dividend_form'), 'SaveDividend', update_dividends)">Save</button>
</div>
