@using Stockboy.Helpers;

@model CheckboxSelectListTagHelper

<div id="@Model.id" field="@Model.field" class="checkbox-select-list" onclick="event.stopPropagation ()">

	<div class="list-header">
		<div>Filter by @Model.field</div>
		<div class="glyph" onclick="toggle_dropdown (this.closest ('div.checkbox-select-list'))" style="border-bottom-color: green"></div>
	</div>

	<div class="list" style="height: 0">
		@{
			foreach (CheckboxSelectItem item in Model.data) {
				<div class="list-item">
					<input id="@item.value" type="checkbox" class="checkbox" value="@item.value" onclick="@Model.onselect" />
					<label for="@item.value">@item.text</label>
				</div>
			}
		}
	</div>

</div>